section.watchlist {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:  flex-start;

	/* Span full width */
	width: 100%;

	border-top: 2px solid var(--secondary-background-color);
}