section.watchlist {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:  flex-start;

	/* Span full width */
	width: 100%;
}

article.watchlist-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr var(--medium-font-size);

	gap: var(--tiny-spacing);
	padding: var(--tiny-spacing) 0;

	width: 100%;

	font-weight: 900;

	border-bottom: 2px solid var(--secondary-text-color);
}