article.media-entry {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr var(--medium-font-size);

	gap: var(--tiny-spacing);
	padding: var(--tiny-spacing) 0;

	/* Span full width */
	width: 100%;

	/* Borders between media entries */
	border-bottom: 2px solid var(--secondary-background-color);
}